 <div class='post'>
  <h1 class='title'>
    <%= link_to post.title, url_for(:posts, :show, :id => post.id) %>
  </h1>
  <div class='date'>
    <%= time_ago_in_words(post.created_at || Time.now) + ' ago' %>
  </div>
  <div class='body'>
    <%= simple_format(post.body) %>
  </div>
  <div class="details">
      <div class="author">Posted by ... </div>
  </div>
</div>
