<% @title = @post.title %>
<div id='show'>
  <div class='post'>
    <h1 class='title'>
      <%= @post.title %>
    </h1>
    <div class='date'>
      <%= time_ago_in_words(@post.created_at || Time.now)+' ago' %>
    </div>
    <div class='body'>
      <%= simple_format(@post.body) %>
    </div>
  </div>
</div>

<p>
  <%= link_to 'View all posts', url_for(:posts, :index) %>
</p>
